@import 'tailwindcss';

@source '../node_modules/flowbite/**/*.js';

@custom-variant dark (&:is(.dark *));

@theme {
    --color-navbar-blue: #2196f3;
    --color-lightgrey-blue: #4e86b0;
    --color-secondary-color: var(--secondary-color);
    --color-secondary-background-color: var(--secondary-background-color);
    --color-third-background-color: var(--third-background-color);
    --color-box-background-color: var(--box-background-color);
}

@layer utilities {
    :root {
        --main-color: #5865f2;
        --secondary-color: #98aae7;
        --tertiary-color: #708aef;
        --background-color: rgb(40, 42, 46);
        --secondary-background-color: rgb(72, 72, 80);
        --accent-background-color: rgb(37, 38, 41);
        --third-background-color: rgb(32, 34, 37);
        --box-background-color: rgb(53, 53, 58);
    }

    ::selection {
        background: #91b2d3;
        text-shadow: none;
    }

    hr {
        border-top: 1px solid #ccc;
        margin: 1em 0;
    }

    @font-face {
        font-family: 'Rubik';
        src: url('../fonts/Rubik/static/Rubik-Regular.ttf');
    }

    @font-face {
        font-family: 'Rubik';
        src: url('../fonts/Rubik/static/Rubik-Light.ttf');
        font-weight: 300;
    }

    @font-face {
        font-family: 'Nunito Sans';
        src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf');
    }

    @font-face {
        font-family: 'Nunito Sans';
        src: url('../fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf');
        font-weight: 200;
    }

    @font-face {
        font-family: 'Nunito Sans';
        src: url('../fonts/Nunito_Sans/NunitoSans-Light.ttf');
        font-weight: 300;
    }

    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito/static/Nunito-Regular.ttf');
    }

    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito/static/Nunito-ExtraLight.ttf');
    }

    @font-face {
        font-family: 'Nunito';
        src: url('../fonts/Nunito/static/Nunito-Light.ttf');
    }

    body {
        background-color: var(--background-color);
        font-family: Rubik, sans-serif;
    }

    .root {
        max-width: 65.5em;
        margin: 0 auto;
        padding: 2.5em;
    }
}

@layer base {
    * {
        @apply focus-visible:outline-hidden focus-visible:ring-4 dark:focus-visible:ring-blue-800 focus-visible:ring-white;
    }

    h1 {
        @apply text-slate-50 underline underline-offset-[0.325em] decoration-2 text-5xl font-bold mb-7 leading-snug
    }

    h2 {
        @apply text-slate-50 text-4xl font-light
    }

    p {
        @apply text-slate-50 text-2xl font-extralight pl-3 my-2
    }

    .blueToPurpleButton {
        @apply p-10 text-white transition-all duration-500 bg-size-[200%_200%] bg-position-[0%_0%] hover:bg-position-[100%_100%] rounded-lg px-5 py-2.5 text-center mr-2 mb-2 text-4xl font-light gap-1.5 my-3 justify-center inline-flex items-center;
        background-image: linear-gradient(to top left, #16a34a, #3b82f6, #9333ea); /* green-600, blue-500, purple-600 */
        background-repeat: no-repeat;
    }


    .whiteBorderButton {
        @apply text-white hover:text-white border border-white hover:bg-white duration-300 px-5 py-2.5 text-center mr-2 mb-2 dark:border-white dark:text-white dark:hover:text-black dark:hover:bg-white  text-3xl rounded-lg font-thin gap-1.5 my-3 justify-center inline-flex items-center cursor-pointer;
    }

    .whiteShadowBold {
        @apply font-normal text-3xl
    }

    .zelful {
        @apply text-white text-2xl font-extralight pl-3
    }

    .zelfli {
        @apply text-white text-2xl font-extralight
    }

    .zelful .zelful .zelfli {
        margin-left: 3em;
        list-style-type: circle;
    }

    .cutout-text-container {
        @apply rounded-lg
    }

    .cutout-text {
        @apply text-4xl lg:text-8xl
    }

    a {
        @apply font-bold no-underline text-secondary-color
    }
}

h1 {
    font-family: Rubik, sans-serif;
    word-break: break-word;
}

h2 {
    font-family: "Nunito Sans", sans-serif;
}

p {
    font-family: "Nunito Sans", sans-serif
}

blockquote p {
    color: rgba(255, 255, 255, 0.85);
}

.whiteShadowBold {
    text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
    font-family: "Rubik", sans-serif;
}

em {
    color: var(--secondary-color);
    font-style: unset;
    font-weight: bold;
}

blockquote {
    margin: 0;
    padding: 0.25em 1em;
    background: var(--box-background-color);
    border-radius: 0.35em;
    border-left: 0.2em solid var(--tertiary-color);
}

ul {
    color: white;
    text-align: left;
}

.zelful {
    font-family: "Nunito Sans", sans-serif
}

.zelfli {
    list-style-type: disc;
    display: list-item;
    margin-left: 2em;
    font-family: "Nunito Sans", sans-serif
}

.dropShadow {
    text-shadow: 0 0 32px black;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .3));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .3));
}

.whiteBorderButton {
    font-style: italic;
    font-family: "Nunito Sans", sans-serif;
}

.cutout-text-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.cutout-text {
    background: white;
    color: black;
    font-weight: bold;
    margin: 0 auto;
    width: 60%;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.4rem;
    mix-blend-mode: screen;
}

@media only screen and (max-width: 1100px) {
    .cutout-text {
        width: 80%;
    }
}

/*https://codepen.io/MartijnCuppens/pen/NWNdOBR?editors=1100*/
/*The image containers*/
.img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

/*Add a pseudo element to keep the aspect ratio*/
.img-container::after {
    content: "";
    display: block;
    /*padding-bottom: calc(900% / 16);*/
}

/*Stretch the images over the container and keep them contained*/
.img-container > * {
    position: absolute;
    top: var(--offset, 0);
    left: var(--offset, 0);
    width: calc(100% - 2 * var(--offset, 0px));
    height: calc(100% - 2 * var(--offset, 0px));
    object-fit: contain;
}

/*Blur the background image and cover the whole container*/
/*Use the negative blur value as offset to prevent the blur*/
/*from mixing with the document background color*/
.img-blur {
    --blur: 20px;
    --offset: 0px; /*calc(-1 * var(--blur));*/
    object-fit: cover;
    filter: blur(var(--blur));
}

.animated-element {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s, transform 0.8s;
    animation-timing-function: cubic-bezier(1, 0, 1, 1);
}

.animated-element.quick {
    transition-duration: 0.5s;
}

.animated-element.in-view {
    opacity: 1;
    transform: translateY(0);
}